body{
  background-color: #FBFBFC;
  margin: 0;
  padding: 0;
}

.mainHeader img {
  height: 100px;
  margin-left: 10px;
  margin-top: 10px;
}


.mainHeader nav{
  background-color: #C494FC;
  height: 40px;
}


.mainHeader ul{
  list-style: none;
  margin: 0 auto;
}

.mainHeader nav ul li{
  float: left;
  display: inline;
}

.mainHeader nav ul li a{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
}

.mainHeader nav a:link,
.mainHeader nav a:visited{
  color: #FBFBFC;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}

.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited{
  background-color: #FC04B4;
  text-shadow: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.topContent{
  width: 100%;
}

.topContent div a .text{
background-color: #FC04B4;
font-size: 120%;
padding: 10px;
border-radius: 5px;
box-shadow: 0px 5px 20px black ;
}

.topContent div a{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 90px 0;
  text-decoration: none;
  color: #FBFBFC;

}

.topContent div{
  width: 20%;
  height: 200px;
  border-radius: 5px;
  border: 1px solid black;
  background-position: center;
  display: block;
  float: left;
  margin-left: 4%;
  margin-top: 2%;
}

.img1{
  background-image: url("../img/img1.png");
  background-size:cover;

}

.img2{
  background-image: url("../img/img2.png");
  background-size:cover;
}

.img3{
  background-image: url("../img/img3.png");
  background-size:cover;
}






.mainFooter{
  width: 100%;
  height: 40px;
  float: left;
  margin-top: 2%;
  background-color: #C494FC;
  margin: 2% 0 0 0;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}

.mainFooter p{
  width: 92%;
  margin: 10px auto;
  color: #FBFBFC;

}

.mainFooter a{
text-decoration: none;
color: #04FCBC

}


@media only screen and (min-width: 700px) and (max-width: 850px){

  .topContent div{
    width: 28%;
    height: 150px;
  }
  .topContent div a{
    padding: 70px 0;
  }

  .topContent div a .text{
  font-size: 110%;
  }

}

@media only screen and (min-width: 352px) and (max-width: 700px){

  .topContent div{
    width: 44%;
    height: 150px;
  }
  .topContent div a{
    padding: 70px 0;
  }
  .topContent div a .text{
  font-size: 110%;
  }


}
