body{
  background-color: #FBFBFC;
  margin: 0;
  padding: 0;
}

.mainHeader img {
  height: 100px;
  margin-left: 10px;
  margin-top: 10px;
}


.mainHeader nav{
  background-color: #C494FC;
  height: 40px;
}


.mainHeader ul{
  list-style: none;
  margin: 0 auto;
}

.mainHeader nav ul li{
  float: left;
  display: inline;
}

.mainHeader nav ul li a{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
}

.mainHeader nav a:link,
.mainHeader nav a:visited{
  color: #FBFBFC;
  display: inline-block;
  padding: 10px 25px;
  height: 20px;
}

.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited{
  background-color: #FC04B4;
  text-shadow: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

table{
  border-spacing: 30px;
    border-collapse: separate;
}

td a{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;

  text-decoration: none;
  color: #FBFBFC;

}
td a .text{
background-color: #FC04B4;
font-size: 110%;
padding: 10px;
border-radius: 5px;
}

td{
  border: 2px solid black;
  border-radius: 5px;
  width: 300px;
  height: 200px;
  background-position: center;
}

.img1{
  background-image: url("../img/img1.png");
  background-size:cover;
}

.img2{
  background-image: url("../img/img2.png");
  background-size:cover;
}

.img3{
  background-image: url("../img/img3.png");
  background-size:cover;
}






.mainFooter{
  width: 100%;
  height: 40px;
  float: left;
  margin-top: 2%;
  background-color: #C494FC;
  margin: 2% 0 0 0;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
}

.mainFooter p{
  width: 92%;
  margin: 10px auto;
  color: #FBFBFC;

}

.mainFooter a{
text-decoration: none;
color: #04FCBC

}
